body {
  margin: 0;
  padding-top: 3.64em;
  font-family: "Source Sans 3";
  align-items: center;
  margin: auto;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -webkit-user-drag: none;
}