body {
  color: black;
  font-family: "Source Sans 3";
  padding-top: 3.64em;
  user-select: none;
}

body,
h1,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -webkit-user-drag: none;
}