body {
  color: black;
  font-family: "Source Sans 3";
  padding-top: 3.64em;
  scroll-behavior: smooth;
}

body,
h1,
h3,
img {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  user-select: none;
}

img {
  width: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
}