h1 {
 font-size: 0.9rem;
}

header {
 display: flex;
 justify-content: space-between;
 padding: 1em;
 background-color: white;
 user-select: none;

 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 10;

 box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);

 & img {
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.25em;
 }
}

.header-hero,
nav {
 display: flex;
 align-items: center;
}

nav {
 justify-content: space-between;
}

.header-pages {
 font-weight: 700;
 font-size: 0.75rem;
 margin: 0 0.7em;
 cursor: pointer;

 &:hover {
  opacity: 0.85;
 }

 &:active {
  opacity: 0.7;
 }
}